body {
  text-align: right;
  direction: rtl;
}
/* ================= ======== hero section ================= ========  */
.students {
  margin-right: auto;
}

.hero-copy {
  margin-left: auto;
}
/* ================= ======== counter section ================= ========  */
@media (min-width: 768px) {
  .stat-item:not(:last-child)::after {
    left: 0;
  }
}
/* ================= smart Section ================= */

/* .edu-graphics {
  place-items: center;
}
.edu-small-img {
  right: 40px;
}
.circle-shape {
  right: 125px;
}
.squiggle {
  right: 101px;
} */
.edu-graphics {
  place-items: end;
}
.edu-small-img {
  left: 246px;
}
.circle-shape {
  left: 182px;
}
.squiggle {
  left: 374px;
}
.edu-content {
  text-align: start;
}
